* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
header {
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iti-logo {
    max-width: 100px;
    margin: 0 auto;
    display: block;
}
.iti-image {
    max-width: 100%;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}
h1 {
    color: #333;
}
.project-details {
    margin-top: 20px;
    padding: 0 30px;
}
ul {
    list-style: none;
}
ul li {
    margin-bottom: 10px;
}

.project-description {
    margin-top: 20px;
    padding: 0 30px;
    text-align: justify;
}

/* media queries */

@media (max-width: 800px) {
    body {
        background: #f1f7dc;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
}
