<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ the_title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

  <header>
    <img src="{{ url_for('static', filename='images/iti-logo.png') }}" alt="ITI Logo" class="iti-logo">
    <h1>Intensive Code Camp (ICC) DevOps Final Project</h1>
  </header>

  <!-- Jinja2 directives: page contents will go between them -->
  {% block body %}
  {% endblock %}

</div>

</body>
</html>
