{% extends 'base.html' %}

{% block body %}

<div class="container">
  <img src="{{ url_for('static', filename='images/iti-image.jpeg') }}" alt="ITI Image" class="iti-image">
  <div class="project-details">
      <p><strong>Name:</strong> Mostafa Mohamed Samir Elkhouly</p>
      <p><strong>Training Program:</strong> Intensive Code Camp (ICC)</p>
      <p><strong>Project Title:</strong> Full CI/CD Pipeline on GCP</p>
      <p><strong>Key Tools Used:</strong></p>
      <ul>
          <li>AWS (Amazon Web Services)</li>
          <li>Terraform</li>
          <li>Docker</li>
          <li>Jenkins</li>
          <li>GitHub</li>
          <li>Amazon SES</li>
          <li>AWS Lambda</li>
          <li>Python</li>
      </ul>
  </div>
  <div class="project-description">
      <p><strong>Project Description:</strong></p>
      <p>The project involved orchestrating infrastructure and automating deployment on AWS using Terraform and Jenkins, and enhancing communication through Amazon Simple Email Service (SES).</p>
      <p>The project involved creating separate production and deployment workspaces with variable definitions, employing Terraform modules for network resource management, and deploying two AWS environments. Additionally, I configured a Jenkins Docker image with Terraform to automate deployments and implemented a flexible Terraform code application pipeline. We also integrated Amazon SES for email verification and utilized a Python Lambda function to send email notifications triggered by changes in the S3 state file.</p>
  </div>
</div>

{% endblock %}
