{% extends 'base.html' %}

{% block body %}

<div class="container">
  <img src="{{ url_for('static', filename='images/iti-image.jpeg') }}" alt="ITI Image" class="iti-image">
  <div class="project-details">
      <p><strong>Name:</strong> Mostafa Mohamed Samir Elkhouly</p>
      <p><strong>Training Program:</strong> Intensive Code Camp (ICC)</p>
      <p><strong>Project Title:</strong> Full CI/CD Pipeline on GCP</p>
      <p><strong>Key Tools Used:</strong></p>
      <ul>
          <li>GCP (Google Cloud Platform)</li>
          <li>Terraform</li>
          <li>Docker</li>
          <li>Kubernetes</li>
          <li>Jenkins</li>
          <li>GitHub</li>
          <li>Python Flask</li>
      </ul>
  </div>
  <div class="project-description">
      <p><strong>Project Description:</strong></p>
      <p>This project showcases the creation of a comprehensive CI/CD pipeline on Google Cloud Platform (GCP). The project evaluates expertise in various domains, including GCP, Networking, Development, Terraform, Docker, Kubernetes, and Jenkins as the CI/CD tool.</p>
      <p>In this project, we deploy a simple Python Flask web application using two primary Jenkins CI/CD pipelines. The first pipeline is responsible for building the project's infrastructure in GCP, and the second pipeline deploys the Python application.</p>
  </div>
</div>

{% endblock %}
